.App{
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: 0 2px 6px #08a05ca4;
    padding: 0 15px;
    box-sizing: border-box;
}

/*--------------HEADER------------------*/

header{

    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 10px #08a05c50;



}

a{
    color: black;
    text-decoration: uppercase;
}
a:hover{
    color: #08a05c;
}

li{
    list-style: none;
}

header ul{
    display: flex;
    padding: 0;
    margin: 0;

}

header ul li {
    padding: 0 1rem ;

}

header ul li a {
    font-weight:bold ;
}

header .cart {
    position: relative;
    cursor: pointer;
}
header .cart box-icon{
    width: 45px;
    height: 45px;
}

header .cart span{
position: absolute;
top: -1rem;
right: -1.5rem;
width: 2.5rem;
height: 2.5rem;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: white;
padding: 0rem;
font-size: 1.5rem;
font-weight: 700;
background: red;
}

/*----------------MEDIA-------------------*/
@media only screen and (max-width: 600px){
    header ul{
        display: none;

    }

}